<div style="text-align: left;">
<form action="/stories" method="POST">
  <div class="form-group">
    <label for="title">Story Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Example Story" required>
  </div>
  <div class="form-group">
    <label for="status">Scope</label>
    <select class="form-control" id="status" name="status">
      <option class="selected">public</option>
      <option>private</option>
    </select>
  </div>
  <div class="form-group">
    <label for="body">Your Story</label>
    <textarea class="form-control" id="body" name="body" rows="3" required></textarea>
  </div>
  <div class="form-group">
      <input type="submit" class="btn btn-primary"></button>
        <a href="/dashboard" class="btn btn-danger">Cancel</a>
    </div>
</form>
</div>
<script>
     CKEDITOR.replace('body', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link'
        })
</script>